@model UserViewModel
@{
    ViewData["Title"] = "使用者詳情";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/bulma-switch/dist/css/bulma-switch.min.css" />
}

<section class="section is-medium">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="Index">使用者</a></li>
                <li class="is-active"><a asp-area="" asp-controller="User" asp-action="Detail" asp-route-userId="@Context.Request.RouteValues["userId"]" aria-current="page">@ViewData["Title"]</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">@ViewData["Title"]</h1>
            <hr/>
            <form role="form">
                <div class="field mb-5">
                    <label asp-for="Id" class="label">識別碼</label>
                    <div class="control has-icons-left">
                        <input asp-for="Id" class="input" type="text" placeholder="請輸入識別碼" disabled />
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Id" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <label asp-for="UserName" class="label">使用者名稱</label>
                    <div class="control has-icons-left">
                        <input asp-for="UserName" class="input" type="text" placeholder="請輸入使用者名稱" disabled />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <span asp-validation-for="UserName" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <label asp-for="Email" class="label">電子郵件</label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input" type="email" placeholder="請輸入電子郵件" disabled />
                        <span class="icon is-small is-left">
                            <i class="far fa-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="EmailConfirmed" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="EmailConfirmed" class="label">電子郵件驗證</label>
                    <span asp-validation-for="EmailConfirmed" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <label asp-for="PhoneNumber" class="label">手機號碼</label>
                    <div class="control has-icons-left">
                        <input asp-for="PhoneNumber" class="input" type="tel" placeholder="請輸入手機號碼" disabled />
                        <span class="icon is-small is-left">
                            <i class="fas fa-mobile-alt"></i>
                        </span>
                    </div>
                    <span asp-validation-for="PhoneNumber" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="PhoneNumberConfirmed" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="PhoneNumberConfirmed" class="label">手機號碼驗證</label>
                    <span asp-validation-for="PhoneNumberConfirmed" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsEnable" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsEnable" class="label">啟用帳戶</label>
                    <span asp-validation-for="IsEnable" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsRecorder" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsRecorder" class="label">管理日誌權限</label>
                    <span asp-validation-for="IsRecorder" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsMember" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsMember" class="label">管理成員權限</label>
                    <span asp-validation-for="IsMember" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsUser" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsUser" class="label">管理使用者權限</label>
                    <span asp-validation-for="IsUser" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsUCAN" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsUCAN" class="label">UCAN 登入權限</label>
                    <span asp-validation-for="IsUCAN" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <a asp-area="" asp-controller="User" asp-action="Edit" asp-route-userId="@Model.Id" class="button is-link">編輯</a>
                        <button id="delete-button" class="button is-danger" type="button">刪除</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="delete-modal" class="modal">
        <div class="modal-background"></div>
        <form asp-area="" asp-controller="User" asp-action="Delete" asp-route-userId="@Model.Id" method="post" role="form" class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">您確定要刪除?</p>
                <button class="delete" aria-label="close" type="button"></button>
            </header>
            <section class="modal-card-body">
                <div class="field mb-5">
                    <label asp-for="Id" class="label">識別碼</label>
                    <div class="control has-icons-left">
                        <input asp-for="Id" class="input" type="text" placeholder="請輸入識別碼" disabled />
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Id" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <label asp-for="UserName" class="label">使用者名稱</label>
                    <div class="control has-icons-left">
                        <input asp-for="UserName" class="input" type="text" placeholder="請輸入使用者名稱" disabled />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <span asp-validation-for="UserName" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <label asp-for="Email" class="label">電子郵件</label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input" type="email" placeholder="請輸入電子郵件" disabled />
                        <span class="icon is-small is-left">
                            <i class="far fa-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="EmailConfirmed" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="EmailConfirmed" class="label">電子郵件驗證</label>
                    <span asp-validation-for="EmailConfirmed" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <label asp-for="PhoneNumber" class="label">手機號碼</label>
                    <div class="control has-icons-left">
                        <input asp-for="PhoneNumber" class="input" type="tel" placeholder="請輸入手機號碼" disabled />
                        <span class="icon is-small is-left">
                            <i class="fas fa-mobile-alt"></i>
                        </span>
                    </div>
                    <span asp-validation-for="PhoneNumber" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="PhoneNumberConfirmed" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="PhoneNumberConfirmed" class="label">手機號碼驗證</label>
                    <span asp-validation-for="PhoneNumberConfirmed" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsEnable" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsEnable" class="label">啟用帳戶</label>
                    <span asp-validation-for="IsEnable" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsRecorder" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsRecorder" class="label">管理日誌權限</label>
                    <span asp-validation-for="IsRecorder" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsMember" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsMember" class="label">管理成員權限</label>
                    <span asp-validation-for="IsMember" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsUser" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsUser" class="label">管理使用者權限</label>
                    <span asp-validation-for="IsUser" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsUCAN" class="switch is-rounded is-rtl" type="checkbox" disabled />
                    <label asp-for="IsUCAN" class="label">UCAN 登入權限</label>
                    <span asp-validation-for="IsUCAN" class="help is-danger"></span>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" type="submit">確定</button>
                <button id="cancel-button" class="button" aria-label="close" type="button">取消</button>
            </footer>
        </form>
    </div>
</section>

@section Scripts {
    <environment include="Development">
        <script src="~/js/delete-modal.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/delete-modal.min.js" asp-append-version="true"></script>
    </environment>
}