@model UserEditViewModel
@{
    ViewData["Title"] = "編輯使用者";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/bulma-switch/dist/css/bulma-switch.min.css" />
}

<section class="section is-medium">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="Index">使用者</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="Detail" asp-route-userId="@Context.Request.RouteValues["userId"]">使用者詳情</a></li>
                <li class="is-active"><a asp-area="" asp-controller="User" asp-action="Edit" asp-route-userId="@Context.Request.RouteValues["userId"]" aria-current="page">@ViewData["Title"]</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">@ViewData["Title"]</h1>
            <hr/>
            <form asp-area="" asp-controller="User" asp-action="Edit" asp-route-memberId="@Context.Request.RouteValues["userId"]" method="post" role="form">
                <div class="field mb-5">
                    <label asp-for="Email" class="label">電子郵件</label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input" type="email" placeholder="請輸入電子郵件" />
                        <span class="icon is-small is-left">
                            <i class="far fa-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="EmailConfirmed" class="switch is-rounded is-rtl" type="checkbox" />
                    <label asp-for="EmailConfirmed" class="label">電子郵件驗證</label>
                    <span asp-validation-for="EmailConfirmed" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <label asp-for="PhoneNumber" class="label">手機號碼</label>
                    <div class="control has-icons-left">
                        <input asp-for="PhoneNumber" class="input" type="tel" placeholder="請輸入手機號碼"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-mobile-alt"></i>
                        </span>
                    </div>
                    <span asp-validation-for="PhoneNumber" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="PhoneNumberConfirmed" class="switch is-rounded is-rtl" type="checkbox"/>
                    <label asp-for="PhoneNumberConfirmed" class="label">手機號碼驗證</label>
                    <span asp-validation-for="PhoneNumberConfirmed" class="help is-danger"></span>
                </div>
                <div class="field mb-5">
                    <input asp-for="IsEnable" class="switch is-rounded is-rtl" type="checkbox"/>
                    <label asp-for="IsEnable" class="label">啟用帳戶</label>
                    <span asp-validation-for="IsEnable" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}