@model PaginatedList<MemberViewModel>
@{
    ViewData["Title"] = "成員";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-responsive-tables@1.2.3/css/main.min.css"
              asp-fallback-href="~/lib/bulma-responsive-tables/css/main.min.css"
              asp-fallback-test-class="b-table"
              integrity="sha256-qqSeWOTrQzPLIhRfuz3KWtWjWqI9X60r0piSbhCdNKY=" crossorigin="anonymous">
}

<section class="section is-medium">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Member" asp-action="Index" aria-current="page">@ViewData["Title"]</a></li>
            </ul>
        </nav>
        <div class="notification">
            <button class="delete"></button>
            只能搜尋 NID 帳號及 UCAN 帳號且區分大小寫
        </div>
        <div class="box content">
            <div class="is-flex is-justify-content-space-between">
                <h1 class="title is-3">@ViewData["Title"]</h1>
                <div class="field has-addons is-hidden-tablet">
                    <p class="control">
                        <a asp-area="" asp-controller="Member" asp-action="Add" class="button">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    </p>
                    <p class="control">
                        <button id="upload-button-1" class="button" type="button">
                            <span class="icon is-small">
                                <i class="fas fa-upload"></i>
                            </span>
                        </button>
                    </p>
                </div>
                <div class="field has-addons is-hidden-mobile">
                    <p class="control">
                        <a asp-area="" asp-controller="Member" asp-action="Add" class="button">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>新增</span>
                        </a>
                    </p>
                    <p class="control">
                        <button id="upload-button-2" class="button" type="button">
                            <span class="icon is-small">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span>匯入</span>
                        </button>
                    </p>
                </div>
            </div>
            <form asp-area="" asp-controller="User" asp-action="Index" class="field has-addons" method="get">
                <div class="control has-icons-left is-expanded">
                    <input class="input" type="text" name="search" placeholder="搜尋"/>
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="control">
                    <button type="submit" class="button is-info">搜尋</button>
                </div>
            </form>
            <hr/>
            <hr/>
            <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                    <table class="table is-fullwidth is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th>識別碼</th>
                            <th>NID 帳號</th>
                            <th>UCAN 帳號</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!Model.Any())
                        {
                            <tr class="is-empty">
                                <td colspan="4">
                                    <section class="section">
                                        <div class="content has-text-grey has-text-centered">
                                            <figure class="image">
                                                <i class="fas fa-inbox fa-5x"></i>
                                            </figure>
                                            <p>沒有資料</p>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var member in Model)
                            {
                                <tr>
                                    <td data-label="識別碼">@member.Id</td>
                                    <td data-label="NID 帳號">@member.NetworkId</td>
                                    <td data-label="UCAN 帳號">@member.StudentId</td>
                                    <td class="is-actions-cell">
                                        <div class="buttons">
                                            <a asp-area="" asp-controller="Member" asp-action="Detail" asp-route-memberId="@member.Id" class="button is-link is-inverted is-underlined">
                                                <span class="icon is-small">
                                                    <i class="far fa-newspaper"></i>
                                                </span>
                                                <span>詳情</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                @if (Model.Any())
                {
                    <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
                        <a asp-area="" asp-controller="Member" asp-action="Index" asp-route-page="@(Model.PageIndex-1)" disabled="@(Model.HasPreviousPage == false)" class="pagination-previous">上一頁</a>
                        <a asp-area="" asp-controller="Member" asp-action="Index" asp-route-page="@(Model.PageIndex+1)" disabled="@(Model.HasNextPage == false)" class="pagination-next">下一頁</a>
                        <ul class="pagination-list">
                            <li><a asp-area="" asp-controller="Member" asp-action="Index" asp-route-page="@Model.PageIndex" class="pagination-link is-current" aria-current="page">@Model.PageIndex / @Model.TotalPages</a></li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
    <div id="upload-modal" class="modal">
        <div class="modal-background"></div>
        <form asp-area="" asp-controller="Member" asp-action="Import" method="post" role="form" enctype="multipart/form-data" class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">匯入成員</p>
                <button class="delete" aria-label="close" type="button"></button>
            </header>
            <section class="modal-card-body is-flex is-flex-direction-column is-align-items-center">
                <p class="mb-3">第一行請擺學號，第二行請擺帳號，不要有標題</p>
                <div class="file is-primary is-boxed has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="file"/>
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">點這選擇檔案</span>
                        </span>
                        <span class="file-name">
                            <p>只限上傳 <code>.xlsx</code> 檔案</p>
                        </span>
                    </label>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-link" type="submit">上傳</button>
                <button id="cancel-button" class="button" aria-label="close" type="button">取消</button>
            </footer>
        </form>
    </div>
</section>

@section Scripts {
    <environment include="Development">
        <script src="~/js/upload-modal.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/upload-modal.min.js" asp-append-version="true"></script>
    </environment>
}