<!DOCTYPE html>
<html lang="zh-Hant" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"] - FCU x UCAN</title>
    @await Html.PartialAsync("_Favicons")
    <link rel="stylesheet" type="text/css" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bulma-social/css/all.min.css" />
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar is-transparent is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/ssc-logo-dark.svg" alt="" height="28" asp-append-version="true" />
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item @Html.IsSelected(controllers: "Home", actions: "Index")" asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a id="intro-link" asp-area="" asp-controller="Intro" asp-action="Index" class="navbar-link">
                                認識 UCAN
                            </a>
                            <div class="navbar-dropdown is-boxed">
                                <a asp-area="" asp-controller="Intro" asp-action="Intent" class="navbar-item @Html.IsSelected(controllers: "Intro", actions: "Intent")">平台緣起及建置目的</a>
                                <a asp-area="" asp-controller="Intro" asp-action="Foundation" class="navbar-item @Html.IsSelected(controllers: "Intro", actions: "Foundation")">平台發展及依據</a>
                                <a asp-area="" asp-controller="Intro" asp-action="Feature" class="navbar-item @Html.IsSelected(controllers: "Intro", actions: "Feature")">主要功能簡介</a>
                                <a asp-area="" asp-controller="Intro" asp-action="Competency" class="navbar-item @Html.IsSelected(controllers: "Intro", actions: "Competency")">職能介紹</a>
                                <a id="common-link" asp-area="" asp-controller="Common" asp-action="Index" class="navbar-item">職場共通職能查詢</a>
                                <a id="professional-link" asp-area="" asp-controller="Professional" asp-action="Index" class="navbar-item">專業職能查詢</a>
                                <a asp-area="" asp-controller="Intro" asp-action="Occupation" class="navbar-item @Html.IsSelected(controllers: "Intro", actions: "Occupation")">職業查詢</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a id="privacy-link" asp-area="" asp-controller="Privacy" asp-action="Index" class="navbar-link">隱私權</a>
                            <div class="navbar-dropdown is-boxed">
                                <a asp-area="" asp-controller="Privacy" asp-action="Personal" class="navbar-item @Html.IsSelected(controllers: "Privacy", actions: "Personal")">UCAN 個人資料蒐集、處理及利用之告知說明</a>
                                <a asp-area="" asp-controller="Privacy" asp-action="Terms" class="navbar-item @Html.IsSelected(controllers: "Privacy", actions: "Terms")">UCAN 使用者條款</a>
                                <hr class="navbar-divider">
                                <a asp-area="" asp-controller="Privacy" asp-action="Announcement" class="navbar-item @Html.IsSelected(controllers: "Privacy", actions: "Announcement")">逢甲大學 個資保護宣導事項</a>
                                <a asp-area="" asp-controller="Privacy" asp-action="Protection" class="navbar-item @Html.IsSelected(controllers: "Privacy", actions: "Protection")">逢甲大學 個人資料保護政策</a>
                                <a asp-area="" asp-controller="Privacy" asp-action="Rights" class="navbar-item @Html.IsSelected(controllers: "Privacy", actions: "Rights")">逢甲大學 個人資料權利行使</a>
                                <a asp-area="" asp-controller="Privacy" asp-action="Statement" class="navbar-item @Html.IsSelected(controllers: "Privacy", actions: "Statement")">逢甲大學 隱私權聲明</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a asp-area="" asp-controller="NID" asp-action="Login" class="button is-primary">登入</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">@RenderBody()</main>
    <footer class="footer">
        <div class="content has-text-centered">Copyright &copy; 2021 成就學生中心</div>
        <div class="buttons is-centered">
            <a asp-area="" asp-controller="Home" asp-action="Facebook" target="_blank" class="button is-medium is-facebook">
                <span class="icon">
                    <i class="fab fa-facebook-f fa-lg"></i>
                </span>
            </a>
            <a asp-area="" asp-controller="Home" asp-action="Instagram" target="_blank" class="button is-medium is-instagram">
                <span class="icon">
                    <i class="fab fa-instagram fa-lg"></i>
                </span>
            </a>
            <a asp-area="" asp-controller="Home" asp-action="Site" target="_blank" class="button is-medium">
                <span class="icon">
                    <i class="fas fa-link fa-lg"></i>
                </span>
            </a>
            <a asp-area="" asp-controller="Home" asp-action="GitHub" target="_blank" class="button is-medium is-github">
                <span class="icon">
                    <i class="fab fa-github fa-lg"></i>
                </span>
            </a>
            <a asp-area="" asp-controller="Account" asp-action="Login" class="button is-medium is-warning">
                <span class="icon">
                    <i class="fas fa-sign-in-alt fa-lg"></i>
                </span>
            </a>
        </div>
    </footer>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
